{% extends 'base.html.twig' %}

{% block body %}

<div>

coucou

<h1>{{ads.title}}</h1>
<h1>{{user}}</h1>

    {# <form action="{{ path('app_user_vote', { id: ad.id }) }}" method="post"> #}
                {# <button name="vote" value="up" class="btn btn-primary">vote up</button> #}
                {# <button name="vote" value="down" class="btn btn-danger">vote down</button> #}
                {# <span>{{ user.votes }}</span> #}
            </form>
        {# </div> #}

{% endblock %}