{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h1>Créer ton annonce</h1>

        <form class="d-flex flex-column justify-content-center align-items-center" action="{{ path('app_ad_create') }}" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Titre</label>
                <input class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label class="form-label" for="photo">Photo</label>
                <input class="form-control" type="file" id="photo" name="photo">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" name="description">
            </div>
            <div>
                <label class="form-label" for="price">Prix</label>
                <input class="form-control" type="number" id="price" name="price">
            </div>
            <button class="btn btn-primary mt-2" type="submit">Publier</button>
        </form>
    </div>
{% endblock %}
