<div class="example-wrapper">
    <h1>New User</h1>

    <form action="{{ path('app_user_update', {id: user.id}) }}" method="post">
        <div>
            <label for="firstName">first name</label>
            <input id="firstName" name="fistName" value="{{ user.firstName|default('') }}">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input id="lastName" name="lastName" value="{{ user.lastName|default('') }}">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" value="{{ user.email|default('') }}">
        </div>
        <button type="submit">submit</button>
    </form>
</div>
