<div class="example-wrapper">
    <h1>New User</h1>

    <form action="{{ path('app_user_create') }}" method="post">
        <div>
            <label for="firstName">first name</label>
            <input id="firstName" name="fistName">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input id="lastName" name="lastName">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="role_seller">seller</label>
            <input type="checkbox" value="ROLE_SELLER" id="role_seller" name="role[]">

            <label for="role_buyer">buyer</label>
            <input type="checkbox" value="ROLE_BUYER" id="role_buyer" name="role[]">
        </div>
        <button type="submit">submit</button>
    </form>
</div>
